/* cgpa.css */

.container {
  /* height: 100vh; Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin-top: 50px;
  width: 80%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container label {
  margin-bottom: 10px;
  display: block;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.table-container {
  margin-top: 20px;
  width: 100%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
